
<div class="card text-center container">
  <b class="TextReference">Revisa tu correo al enviar tu Email y sigue las instrucciones</b>
      <div class="card-header styleLogin">
        <b class="styleText">Recuperar contraseña </b>
      </div>
      
      <div class="card-body">
        <input class="form-control styleTextinput" type="email" required placeholder="Ingrese su email" autocomplete="email">
        <div>
          <button class="btn btn-primary btn-block" (click)="forgotPassword()">Recuperar contraseña</button>
        </div>
        <label><a class="forgotPass" routerLink="/login">< Regresar a Iniciar sesion</a></label>
      
      </div>
  
  </div>