.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 20%;
    top: 300px;
    padding: 0%;
}

.styleLogin{
    background-color: #212529;
    width: 100%;
}

.styleText{
    color: white;
}

.TextReference{
    position: fixed;
    top: 200px;
}

.styleTextinput {
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.btn {
    position: relative;
    margin-bottom: 0.5rem;

}

.forgotPass{
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
}

.stylebody{

}