.cardContainer {
  width: 300px;
  height: 500px;
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;
}
.card-header{
    background-color: #5d7cd3;
    color: white;
    font-weight: 700;
}

.card-body{
    padding: 0.5rem;
    background-image: url(https://i.pinimg.com/736x/c7/4d/c2/c74dc2f25e60e2e4fe7ed0866fd2416e.jpg);
    overflow: scroll;
}

.imgEnviar:active{
    transform: scale(0.9);
}

.enviado {
    display: block;
    float: right;
    background-color: rgb(45, 154, 182);
    color: white;
    min-width: 50.01%;
    border-radius: 50px;
    text-align: left;
}
.recibido{
    display: block;
    float: left;
    background-color: rgb(136, 110, 151);
    color: white;
    min-width: 50.01%;
    border-radius: 50px;
    text-align: left;
}

.contenedorDeMensajes{
    overflow: scroll;
    padding: 0.3rem;
}

.contenedorDeMensajes::-webkit-scrollbar{
    display: none;
}

.chatIconContainer{
    position: fixed;
    right: 0.5rem;
    bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: grey;
    border-radius: 100%;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.5);
}

.chatIcon{
    width: 40px;
    height: 40px;
}

.closeIcon{
    position: absolute;
    right: 0.5rem;
    top: 0rem;
    cursor: pointer;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
    background-color: rgb(12, 27, 165);
    border-radius: 10%;
    
}

.positionChat {
    position: fixed;
    bottom: 0;
    right: 0.5rem;
    width: 300px;
}

.stylechat{
    background-color: #212529;
}
