<div class="container">

    <div class="card text-center">
      <div class="card-header styleRegisterHeader">
        <b class="styleText">REGISTRO</b>
      </div>
      <div class="card-body p-4">
        <input class="form-control styleTextEmail" type="email" placeholder="Ingrese su Email" [(ngModel)]="usuario.email">
  
        <input class="form-control stylePassword" type="password" placeholder="Ingrese su contraseña" [(ngModel)]="usuario.password">
        <input class="form-control" type="password" placeholder="Repita su contraseña" [(ngModel)]="usuario.password">
        
        <button class="btn btn-primary btn-block m-2" (click)="registrarse()">Registrarse</button>
        <label> Ya tienes cuenta? <a routerLink="/login">Ingresar</a> </label>
      </div>
    </div>
  </div>    