.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.styleRegisterHeader{
    background-color: #212529;
}

.styleText{
    color: white;
}

.styleTextEmail{
    margin-bottom: 0.5rem;
}

.stylePassword {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}