.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.styleLogin{
    background-color: #212529;
}

.styleText{
    color: white;
}

.styleGoogle {
    background-color: rgb(216, 107, 107);
}

.styleTextinput {
    padding: 0.5rem;
    margin-bottom: 1.5rem;
}

.forgotPass{
    display: flex;
    flex-direction: column;
    
}

.btnStyle{
    display: flex;
    width: 100%;
}